
.DS_Store
Scripts/__pycache__/functions.cpython-36.pyc
Scripts/__pycache__/netlists.cpython-36.pyc
Scripts/__pycache__/functions.cpython-36.pyc
*.iml
*.xml
*.pyc

Scripts/chips_deel2.py
Scripts/chips_deel3.py
Scripts/chips_deel4.py
Scripts/__pycache__/classes.cpython-36.pyc
Grid1oplossingscore526.png
netlist 40 kleine grid done.docx
~$tlist 40 kleine grid done.docx
*.py

